{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title> profile</title>
{% endblock title %}

{% block add_css %}
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/xb-titre" type="text/css"/>

{% endblock add_css %}
{% block content %}

<div style="margin-top: 10%;" class="container">
    <div class="row">
      
      <div class="btn-collapse-cg col-sm-12 col-md-12">
        <button style="font-size: 1rem;"  class="openbtn font-Lalezar" onclick="openNav()">Panel ☰</button>
      </div>

      <div style="height: 20%; text-align:left;" class= "product-box product-box-display  col-sm-12 col-lg-3 col-md-12">
        <h3 class="ul-li font-Lalezar-h3" style="text-align:left; margin-top:10px;">Panel</h3>
            <ul>
              <li class="ul-li "  style="text-align:left;"><a class="col-3-a a-hover font-Lalezar" href="{% url 'users:profile' %}"><i class="fa fa-angle-double-left"></i> Dashboard </a></li>
                <li class="ul-li" style="text-align:left;"><a class="col-3-a a-hover  font-Lalezar" href="{% url 'account_set_password' %}"> <i class="fa fa-angle-double-left"></i> Change Password</a></li>
                <li class="ul-li" style="text-align:left;"><a class="col-3-a  font-Lalezar" href="{% url  'payment:payment-history' %}"><i class="fa fa-angle-double-left"></i> Payment History</a></li>
                <li class="ul-li" style="text-align:left;"><a class="col-3-a  font-Lalezar" href="{% url  'payment:payment-create'  %}"><i class="fa fa-angle-double-left"></i> Deposit </a></li>
                <li class="ul-li" style="text-align:left;"> <a class="col-3-a  font-Lalezar" href="{% url  'users:customers-slug' slug='change-profile-image' %}"><i class="fa fa-angle-double-left"></i>Change Profile Pic</a></li>
            </ul>
      </div>

      <div class="col-sm-12 col-lg-9 col-md-12">
        {% block content2 %}


        {% endblock content2 %}

      </div> <!-- col-md-12 -->

  </div> <!-- outter row -->
  <div id="mySidebar" class="sidebar  ">
    <h3 style="font-size:2rem; text-align:left;"  class="ul-li font-Lalezar">Panel</h3>
        <ul class="sidebar-li-a">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
          <form  action="." method="get">

              <li class="ul-li"><a class="col-3-a a-hover font-Lalezar" href="{% url 'users:profile' %}"><i class="fa fa-angle-double-left"> Dashboard </i></a></li>
              <li class="ul-li"><a class="col-3-a a-hover font-Lalezar" href="{% url 'account_set_password' %}"><i class="fa fa-angle-double-left"> Change Password</i></a></li>
              <li class="ul-li"><a class="col-3-a a-hover font-Lalezar" href="{% url 'payment:payment-history' %}"><i class="fa fa-angle-double-left"> Payment History</i></a></li>
              <li class="ul-li"><a class="col-3-a a-hover font-Lalezar" href="{% url 'payment:payment-create'  %}"><i class="fa fa-angle-double-left"> Deposit</i></a></li>
              <li class="ul-li"><a class="col-3-a  font-Lalezar" href="{% url  'users:customers-slug' slug='change-profile-image' %}"><i class="fa fa-angle-double-left"> change profile pic</i></a></li>
            </form>
          </ul>
        </div>

  {% if object_list %}

    <div class="pagination page-div">
      <span class="step-links">
        {% if page_obj.has_next %}
            &laquo;
            <a class="page-first"  href="?page={{ page_obj.paginator.num_pages }}&{{ urlp  }}">اخرین صفحه</a>
            <a class="page-next" href="?page={{ page_obj.next_page_number }}&{{ urlp  }}">صفحه بعدی</a>
        {% endif %}


        <span  class="current page-number">
            صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_previous %}
          <a class="page-prev" href="?page={{ page_obj.previous_page_number }}&{{ urlp  }}">صفحه قبلی</a>
          <a href="?page=1&{{ urlp  }}" class="page-last">  اولین صفحه </a>
          &raquo;
        {% endif %}

      </span>
    </div>
{% endif %}
  </div> <!-- container -->


<script>
  function openNav() {
    // document.getElementById("mySidebar").style.display = "block";
    document.getElementById("mySidebar").style.width = "100%";
    document.getElementById("main").style.marginRight = "250px";
  }

  function closeNav() {
    // document.getElementById("mySidebar").style.display = "none";
    document.getElementById("mySidebar").style.width = "0%";
    document.getElementById("main").style.marginRight= "0";
  }
  </script>
{% endblock content %}
