{% extends "customers_base.html" %}


{% block content2 %}
  <h4 style=" margin-top:30px;">Change Password </h4>

    <div class="">

      <form style="margin-top:10px;" method="POST" action="{% url 'account_change_password' %}" class="password_change">
          {% csrf_token %}
          <p >enter your current password : {{ form.oldpassword }}</p>
          <p >enter your new password : {{ form.password1 }} </p>
          <p >repeate your new passowrd  {{ form.password2 }}</p>
          <p >
            <button class="btn btn-dark" type="submit" name="action">submit</button>
          </p>
      </form>
    </div>

{% endblock %}
