{% extends "account/base.html" %}
{% load static %}

{% block head_title %}Sign Up{% endblock %}

{% block content %}

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div style="padding-top:0px; margin-bottom:30%; ">
              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}
                      <strong style="color:red; font-size:14px; float: right; text-align:right; ">
                        {{error}}
                      </strong>

                    {% endfor %}
                {% endfor %} 

              {% endif %}
            </div>
      <form class="login100-form validate-form" method="POST" action="." style="margin-top:10px;">
        {% csrf_token %}
        <span class="login100-form-title p-b-26">
          Sign Up
        </span>
<!-- This password is too common. -->


        {{form.as_p}}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        {% csrf_token %}
        <div  style="text-align: center;" class=" main validate-input input100">
          <a href="{{ login_url }}">are you have account ? login</a>
        </div>
        <div style="margin-top:10px;" class="">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit">
              Submit
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}
