{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <img src="{% static 'home/assets/photo/online_shop.jpg' %}" style="margin-top: 10px; width: 100%;" class="img-fluid" alt="Responsive image">
  <div class="row">
    <div style="text-align:right;" class="col-md-4">
      <a  class="img-ins-home" style="text-align:right;" href="https://www.instagram.com/divar_b_divar/">
      </a>

    </div>
    <div style="text-align: right;" class="col-md-8 index-detail home-p">
</p>

   </div>


    </div>

  </div>


</div>

<div class="container">
  <div class="row">
    
    
  </div> <!-- row -->
</div>

{% endblock content %}
