{% extends 'customers_base.html' %}
{% load static %}

{% block title %}
  <title>MemberShip</title>
{% endblock title %}

{% block content2 %}
  <h3> membership </h3>
  <div class="" style="margin-left:10px;">
    {% if request.user.membership %}
      <p> your membership day remain :  {{request.user.membership.expired_day}} </p>
      <p> {{request.user.membership.month}} month</p>
      <p> Your remaining membership money:  {{request.user.membership.amount}}</p>
    {% else %}
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <p><input class='btn btn-dark' type="submit" name="" value="deposit"></p>
    </form>
    {% endif %}
</div>

{% endblock %}

