{% extends 'customers_base.html' %}
{% load static %}

{% block css %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock css %}

{% block content2 %}
  <div class="" style=" margin-right:10px; ">
    <h5 style="text-align:left; margin-top:20px; margin-bottom:20px;">payment history</h5>
    <div class="row"  style="border-bottom:1px groove; margin-bottom:10px;">
        <div class="col-2">
            user
        </div>
      <div class="col-2">
        status
      </div>
      <div class="col-2">
        amount
      </div>
      <div class="col-4">
        created date
      </div>
      <div class="col-2">
        description
      </div>

    </div>
    {% for i, payment_form in payment %}
    <div class="row" style="border-bottom:1px groove; margin-bottom:10px;">
        <div class="col-2">
            {{ i.user}}
        </div>

        <div  class="col-2">
        {{i.status}}
      </div>
      <div class="col-2">
        {{i.amount}}
      </div>
      <div class="col-4">
        {{i.created_date}}
      </div>

      <div class="col-2">
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal{{i.id}}">description</button>
      </div>


      <!-- Modal -->
      <div id="myModal{{i.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div  class="modal-content">

            <div class="modal-body">
                <div class="">
                  <h4 style="margin-top:10px; margin-bottom:20px;" class="modal-title">admin message</h4>
                </div>
                <form method="post" action="{% url 'payment:change-status' pk=i.pk %}">
                    {% csrf_token %}
                    {{payment_form.as_p}}
                    <p><input class='btn btn-dark' type="submit" name="" value="change status"></p>
                </form>
            </div>
            <div class="modal-footer">
              <button  type="button" class="btn btn-default" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>

    </div>
    {% endfor %}

  </div>

{% endblock %}
